.button
  width: 7.25em
  height: 3em
  position: relative
  background: #f1f3f6
  margin-top: 20px
  margin-bottom: 0px
  border-radius: 16px
  text-align: center
  user-select: none
  cursor: pointer
  transition: all .1s ease-out
  box-shadow: -1.5px -1.5px 2px hsl(0deg, 0%, 100%, 95%), 1px 1px 3px rgb(28, 64, 128, 30%)
  color: rgba(#929cd0, .9)
  &:hover
    // opacity: 0.3
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2)
    animation: rainbow 2s ease infinite
  &:active
    opacity: 1
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1)

.text
  line-height: 3em
  font-family: "Montserrat", sans-serif
  font-size: 1em
  font-weight: semibold
  letter-spacing: 0.2rem

@keyframes rainbow
  0%
    color: hsl(0deg, 63%, 65%)
  50%
    color: hsl(180deg, 63%, 65%)
  100%
    color: hsl(360deg, 63%, 65%)